.App {
  height: 100vh;
  background-color: #e8ebee;
}

.App-main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
}

@media(min-width: 769px) {
  .App-main-container {
    padding: 25px;
  }
}

@media(min-width: 1025px) {
  .App-main-container {
    padding: 50px;
  }
}
